<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="assets/css/styles.css">

    <title>Vestigion Calculator</title>
</head>

<body>
    <div class="main" id="app">
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="assets/img/angelmavare-horizontal.svg" alt="Angel Mavare Logo" style="max-width:200px;">
                    
                </a>
            </header>

            <div class=" bg-light rounded-3" style="background: url(assets/img/Emy_Y_Joy_square-min.jpg); background-size: cover;background-position:center;">
                <div class="p-5 mb-4" style="background:rgba(0,0,0,0.3); ">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold text-white">{{ tittle }}</h1>
                        <p class="col-md-8 fs-4 text-white">{{textPresentation}}</p>
                        <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
                    </div>
                </div>
                
            </div>

            <div class="row pt-4 pb-4">
                <div class="col-md-6">
                    <form action="">
                        <h4 class="alert-heading">Size info</h4>
                        <p>Write your height in centimeters and your weight in Kilograms to calculate your reduction</p>
                        <hr>
                        <div class="mb-3 row">
                            <label for="height" class="col-sm-3 col-form-label">Height (Cm)</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="height" v-model="height"
                                    v-on:keyup="calculateSize">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="weight" class="col-sm-3 col-form-label">Weigth (Kg)</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="weight" v-model="weight"
                                    v-on:keyup="calculateSize" :disabled="!height">
                            </div>
                        </div>
                        <div class="mb-3 row">

                            <div class="col-sm-10">
                                
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div v-if="seenResults" class="alert alert-success" role="alert">
                        <h4  id="results" class="alert-heading pb-3">Results</h4>
                        <hr>
                        <ul class="sizeList">
                            <li v-if="seenHeight" v-html="heightPrint" id="heightId"></li>
                            <!-- <strong>Height: </strong> <span id="heightPrint"></span>  -->
                            <li v-if="seenWeight" v-html="weightPrint" id="weightId" ></li>
                            <!--  <strong>Weight: </strong> <span id="weightPrint"></span> -->
                        </ul>
                        <p v-html="message"></p>
                    </div>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>About me</h2>
                        <p>here you can find information about me, my work and social networks.</p>
                        <a target="_blank" href="https://twitter.com/angelmavare1" class="btn btn-outline-light" type="button">Go to info</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Follow me on Twitter</h2>
                        <p>Stay up to date with the latest news from Vestigion: The Golden Button</p>
                        <a target="_blank" href="https://twitter.com/angelmavare1" class="btn btn-outline-secondary" type="button">Go to Twitter</a>
                    </div>
                </div>
            </div>

            <footer class="pt-3 mt-4 text-muted border-top">
                © Copyright {{ updateFooter }}, Angel Mavare
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>


    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    tittle: 'Vestigion size calculator',
                    tittlePage: 'Vestigion calculator',
                    textPresentation: 'This is a simple calculator to estimate the 88% reduction specified in the fiction "Vestigion: The golden button" by Angel Mavare , using the cube square law.',
                    height: '',
                    weight: '',
                    heightPrint: '',
                    weightPrint: '',
                    heightResult: '',
                    weightResult: '',
                    seenResults: false,
                    seenHeight: false,
                    seenWeight: false,
                    message: '',
                    updateFooter: new Date().getFullYear()
                }
            },
            methods: {
                calculateSize() {
                    if (this.height > 0) {
                        this.seenHeight = true;
                        this.seenResults = true;
                        this.heightResult = this.height * 0.12;
                        console.log(this.heightResult);
                        this.heightPrint = `<strong>Height: </strong> <span id="heightPrint">${this.heightResult.toFixed(2)} cm</span>`;
                        
                    } else {
                        this.heightPrint = ``;
                        this.seenHeight = false;
                        //this.seenResults = false;
                        
                    }

                    if(this.height > 0){
                        if (this.weight > 0) {
                            console.log('aqui entro: '+ this.height);
                            this.seenWeight = true;
                            this.seenResults = true;
                            this.weightResult = (this.weight*(this.heightResult/this.height)**3)*1000;
                            this.weightPrint = `<strong>Weight: </strong> <span id="weightPrint">${this.weightResult.toFixed(2) } g</span>`;
                        } else {
                            this.weightPrint = ``;
                            this.seenWeight = false;
                            //this.seenResults = false;
                        }
                    }


                    if( this.height >= 140 && this.height < 160){
                        this.message = 'Ohww so cute...';
                    }else if(this.height < 170 && this.height >= 160){
                        this.message = 'take care of the cats!';
                    }else if(this.height < 190 && this.height >= 170){
                        this.message = 'A formidable delicacy :D';
                    }else
                    if(this.height >= 190){
                        this.message = 'You are a big fish!';
                    }else{
                        this.message = '';
                    }
                }
            },
            mounted() {
               
            }
        }).mount('#app')
    </script>
    <script>
        /*  function calculateValue() {
             let height = document.getElementById('height').value;
             let weight = document.getElementById('height').value;
             var sizeList = document.getElementById('sizeList');
             console.log(height);
             if (height != 0) {
                 let heightPrint = height * 0.12;
                 let htmlHeight = `<li id="calculateHeight"><strong>Height: </strong> <span id="heightPrint">${heightPrint}</span> </li>`;
                 sizeList.insertAdjacentHTML('beforeend', htmlHeight);
             }
         } */



    </script>
</body>

</html>